# Node.js
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
logs
*.pid
*.seed
*.pid.lock

# Migrations metadata
/src/db/migrations/meta/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env
dist/env.d.ts
dist/env.d.ts.map
dist/env.js
dist/env.js.map
dist/server.d.ts
dist/server.d.ts.map
dist/server.js
dist/server.js.map
dist/db/connection.d.ts
dist/db/connection.d.ts.map
dist/db/connection.js
dist/db/connection.js.map
dist/db/seed.d.ts
dist/db/seed.d.ts.map
dist/db/seed.js
dist/db/seed.js.map
dist/db/schema/audio-chunks.d.ts
dist/db/schema/audio-chunks.d.ts.map
dist/db/schema/audio-chunks.js
dist/db/schema/audio-chunks.js.map
dist/db/schema/index.d.ts
dist/db/schema/index.d.ts.map
dist/db/schema/index.js
dist/db/schema/index.js.map
dist/db/schema/questions.d.ts
dist/db/schema/questions.d.ts.map
dist/db/schema/questions.js
dist/db/schema/questions.js.map
dist/db/schema/rooms.d.ts
dist/db/schema/rooms.d.ts.map
dist/db/schema/rooms.js
dist/db/schema/rooms.js.map
dist/http/routes/create-question.d.ts
dist/http/routes/create-question.d.ts.map
dist/http/routes/create-question.js
dist/http/routes/create-question.js.map
dist/http/routes/create-room.d.ts
dist/http/routes/create-room.d.ts.map
dist/http/routes/create-room.js
dist/http/routes/create-room.js.map
dist/http/routes/get-room-questions.d.ts
dist/http/routes/get-room-questions.d.ts.map
dist/http/routes/get-room-questions.js
dist/http/routes/get-room-questions.js.map
dist/http/routes/get-rooms.d.ts
dist/http/routes/get-rooms.d.ts.map
dist/http/routes/get-rooms.js
dist/http/routes/get-rooms.js.map
dist/http/routes/upload-audio.d.ts
dist/http/routes/upload-audio.d.ts.map
dist/http/routes/upload-audio.js
dist/http/routes/upload-audio.js.map
dist/services/gemini.d.ts
dist/services/gemini.d.ts.map
dist/services/gemini.js
dist/services/gemini.js.map
